<ion-header>
</ion-header>

<ion-content>
  <ion-icon class="icon" name="people-circle-outline"></ion-icon>
  <ion-label class="label">Employees</ion-label>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginFormGroup">
        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Senha</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>

        <ion-button
          class="ion-margin-top"
          color="tertiary"
          expand="full"
          [disabled]="loginFormGroup.invalid"
          (click)="login()"
          >Entrar</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
