<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-template #skeleton>
    <ion-skeleton-text class="skeleton-image ion-margin-top" animated></ion-skeleton-text>
    <ion-skeleton-text class="skeleton-header ion-margin-bottom" animated></ion-skeleton-text>
    <ion-card>
      <ion-card-header>
        <ion-skeleton-text class="skeleton-text" animated></ion-skeleton-text>
        <ion-skeleton-text class="skeleton-text" animated></ion-skeleton-text>
        <ion-skeleton-text class="skeleton-text" animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
  </ng-template>
  
  <ng-container *ngIf="employee; else skeleton">
    <ion-img class="employeeImage ion-margin-top" [src]="employee.avatarUrl" alt="Problema ao carregar imagem"></ion-img>

    <ion-card class="ion-no-margin">
      <ion-card-header>
        <ion-card-title>
          {{employee.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{employee.description || "Não informado"}}
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-list lines="none">
        <ion-item>
          <ion-label>ID</ion-label>
          <ion-chip color="primary">
            {{employee.id}}
          </ion-chip>
        </ion-item>
        
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-chip color="primary">
            {{employee.name}}
          </ion-chip>
        </ion-item>
        
        <ion-item>
          <ion-label>Cargo</ion-label>
          <ion-chip color="primary">
            {{employee.job || "Não informado"}}
          </ion-chip>
        </ion-item>
        
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-chip color="primary">
            {{employee.email}}
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card>
  
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list>
        <ion-fab-button (click)="share()" button>
          <ion-icon name="share-social"></ion-icon>
        </ion-fab-button>

        <ion-fab-button [routerLink]="['/home/update-employee', employee.id]" button>
          <ion-icon color="primary" name="build-outline"></ion-icon>
        </ion-fab-button>
  
        <ion-fab-button [routerLink]="['/home/delete-employee', employee.id]" button>
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-fab-button>
  
      </ion-fab-list>
    </ion-fab>

  </ng-container>
</ion-content>
