<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngIf="!employee; else employeeDetail">
      <ion-skeleton-text class="skeleton-image" animated></ion-skeleton-text>
      <ion-card-header>
        <ion-skeleton-text class="skeleton-header ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text class="ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text class="ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text class="ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text class="ion-margin-bottom" animated></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-card-header>
    </ion-card>
  
  <ng-template #employeeDetail>
    <ion-img class="employeeImage ion-padding-top" [src]="employee?.avatarUrl"></ion-img>

    <ion-card class="ion-no-margin">
      <ion-card-header>
        <ion-card-title>
          {{employee?.name}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{employee?.description || "Não informado"}}
      </ion-card-content>
    </ion-card>
  
    <ion-card>
      <ion-list lines="none">
        <ion-item>
          <ion-label>Nome</ion-label>
          <ion-chip color="primary">
            {{employee?.name}}
          </ion-chip>
        </ion-item>
        
        <ion-item>
          <ion-label>Cargo</ion-label>
          <ion-chip color="primary">
            {{employee?.job || "Não informado"}}
          </ion-chip>
        </ion-item>
        
        <ion-item>
          <ion-label>E-mail</ion-label>
          <ion-chip color="primary">
            {{employee?.email}}
          </ion-chip>
        </ion-item>
      </ion-list>
    </ion-card>
  
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-list>
        <ion-fab-button [routerLink]="['/update-employee', employee.id]" button>
          <ion-icon color="success" name="build-outline"></ion-icon>
        </ion-fab-button>
  
        <ion-fab-button [routerLink]="['/delete-employee', employee.id]" button>
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-fab-button>
  
      </ion-fab-list>
    </ion-fab>

  </ng-template>
</ion-content>
