<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img
      (click)="selectImageSource()"
      class="profile-pic"
      [src]="avatar || blankAvatar"
      alt="Imagem inválida"
    >
    </ion-img>
    <ion-card-content>

      <form [formGroup]="registrationFormGroup">
        <ion-item>
          <ion-label position="floating">URL do Avatar</ion-label>
          <ion-input formControlName="avatarUrl" type="url"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input formControlName="name" type="name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Cargo</ion-label>
          <ion-input formControlName="job" type="name"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Descrição</ion-label>
          <ion-textarea formControlName="description"></ion-textarea>
        </ion-item>

        <ion-button
          (click)="register()"
          [disabled]="registrationFormGroup.invalid"
          class="ion-margin-top" expand="full">Cadastrar</ion-button>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
