.profile-pic {
    width: auto;
    height: 30vh;
    font-size: 20px;
}

.skeleton-image {
    height: 30vh;
    width: auto;
}

.skeleton-margin-bottom {
    margin-bottom:40px;
}

.skeleton-button {
    height: 36px;
}