.icon {
    display: block;
    width: 20vw;
    height: 20vw;
    margin: 10vh auto 10px auto;
}

.label {
    display: block;
    text-align: center;
    font-size: x-large;
    font-style: italic;
    margin-bottom: 20vh;
}

.back-button {
    position: absolute;
}