.image-card {
    height: 20vh;
    width: auto;
}

.skeleton-image {
    height: 20vh;
    width: auto;
}

.skeleton-header {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 5px;
}

.employee-item {
    width: 100%;
}